<template>
    <div class="container" :style="{height: containerHeight}" @scroll="handleScroll" ref="container">
        <!-- 数据列表 -->
        <div class="list" :style="{top: listTop}">
            <!-- 列表项 -->
            <div v-for="item in showData" :key="item.id" :style="{height: size + 'px'}">
                {{ item.content }}
            </div>
        </div>
         <!-- 用于撑开高度的元素 -->    
         <div class="bar" :style="{height: barHeight}"></div>
    </div>
</template>
  
<script>
export default {
    props: {
        // 要渲染的数据
        items: {
            type: Array,
            require: true
        },
        //  每条节点渲染的高度
        size: {
            type: Number,
            require: true
        },
        // 每次渲染DOM节点的个数
        showNumber: {
            type: Number,
            require: true
        }
    },
    data() {
        return {
            start: 0, //要展示数据的起始下标
            end: this.showNumber //要展示数据的结束下标
        }
    },
    computed: {
        // 最终要塞选的数据
        showData() {
            return this.items.slice(this.start,this.end)
        },
        // 容器高度
        containerHeight() {
            return this.size * this.showNumber + 'px'
        },
        // 用于撑开容器内容的高度
        barHeight() {
            return this.size * this.items.length + 'px'
        },
        // 列表向上滚动改变top的值
        listTop() {
            return this.start * this.size + 'px'
        }
    },
    methods: {
        handleScroll() {
            // 获取容器顶部滚动的尺寸
            let scrollTop = this.$refs.container.scrollTop
            // 改变裁剪数据的起始位置
            this.start = Math.floor( scrollTop / this.size)
            this.end = this.start + this.showNumber
        }
    }
}
</script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
    overflow-y: scroll;
    background-color: rgba(150, 150, 150, .5);
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    width: 500px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.list {
    position: absolute;
    top: 0;
    width: 100%;
}
</style>
  