<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <div class="button-group">
      <button v-has="'admin'">管理员</button>
      <button v-has="'user'">用户</button>
    </div>
    <List :items="items" :size="60" :showNumber="10">
    </List>
  </div>
</template>

<script>
import hasPermission from './directive/has'
import List from './components/VScroller/index.vue'
export default {
  name: 'App',
  directives: {
    has: hasPermission
  },
  components: {
    List
  },
  computed: {
    // 用户模拟的所有数据
    items() {
      return Array(100).fill().map((item,index) => ({
        id: index,
        content: '列表数据内容' + index
      }))
      // items 要进行渲染的列表数据
      // size 每一条数据的高度
      // showNumber 每次渲染的数据条数
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
